body{
  margin:40px auto;
  max-width:650px;
  line-height:1.6;font-size:18px;
  color:#444;
  padding:010px}
textarea {
  background-color:#fbfbfb;
  font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
}
a {
  color:#4286f4
}
h1,h2,h3{line-height:1.2}
button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
titlebar {
  -webkit-user-select: none;
  -webkit-app-region: drag;
}
